*{
  margin: 0;
  padding: 0;
}
.app-footer{
  padding:  2% 5%;
  background: linear-gradient(135deg ,dodgerblue,orange );
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.logo-icon img{

  width: 100px;
  height: 65px;
  border-radius: 50%;
}
.social-icons a{
 
   margin-left: 4%;
   color:white;
   width: 40px;
}
.social-icons a:hover{
  color: rgb(0, 89, 255);

}
.logo-icon{

  width: 60%;
}
li{
  font-size: 20px;
 
}
  Link{
  color: white;
   
   
}
@media(max-width:800px){
  .app-footer{
    width:  490px !important;
    margin: 0 auto;
    padding-right: 40px;
  }
}