*{
  margin: 0;
padding: 0;
}
.how-container{
  width: 70%;
  margin: 10px auto;
  background-color: #FFFFFF;
   
 box-shadow: 0 0 8px 2px #ccc;
padding: 4%;
}
h2{
  color: rgb(234, 75, 197);
}
.how-container h1{
  color: orange;
}
 @media(max-width:800px){
  .how-container{
   width: 450px;
    margin-left: 3px;
    box-shadow: 0 0 0px 1px #ccc;
    
  }

}
