 .classfor{
  
  width: 50%;
  margin: 0 auto;
  /* background-color: firebrick; */
   background-color: #FFFFFF;

  box-shadow: 0 0 8px 2px #ccc;
   
 
    
    padding: 7%;
    /* width: 50%; */
    
    background-color: #fff;
    transition: padding .2s 
ease-in-out;
    border-radius: 4px;
}
.resetemail{
  border: solid;
  width: 100%;
   margin: 2%;
  /* margin: 3% auto; */
  text-align: left;
  padding: 1%;
  border-radius: 8px;
   border-width: 2px !important;
  border-color: dodgerblue !important;
}
 
.resetemail input{
  width: 99% !important;
   
  padding: 1%;
border: 0;
outline: none;
margin: 5px 2% !important;


}
.resetbtn{
border: none;
  
   width: 100%;
   margin:15px auto;
   border-radius: 8px;
  

}
.resetbtn button{
  color: white;
  border: none;
  width: 100%;
  padding: 2%;
   border-radius: 8px;
   background-color: #516CF0;
   margin: 5% 2%;
}
.resetbtn button:hover{
  background-color: orange !important;
   
 
}
 
.resetbtn button:focus{
  background-color: gray;
  cursor: wait;
  
}
.messageboth{
  color: dodgerblue;
  font-size: 23px;
  
}
 @media(max-width:800px){
  .classfor{
    width: 450px !important;
    margin-left:auto !important ;
    margin-right: auto !important;
    height: 450px;
    line-height: 50px;
      
     margin-top: 100px !important;
      
     
    
  }
  .classfor h2{
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 30px;
    
  }
  .resetemail{
   
  width: 96% !important;
   margin: 2%;
  /* margin: 3% auto; */
  text-align: left;
  padding: 1%;
  border-radius: 8px;
   border-width: 2px !important;
  border-color: dodgerblue !important;
  font-size: 25px;
}

.resetbtn button{
  color: white;
  border: none;
  width: 96% !important;
  padding: 2%;
   border-radius: 8px;
   background-color: #516CF0;
   margin: 10% 2% !important;
}

 }