.classfor{
  
  width: 50%;
  margin: 0 auto;
  /* background-color: firebrick; */
   background-color: #FFFFFF;

  box-shadow: 0 0 8px 2px #ccc;
   
 
    
    padding: 7%;
    /* width: 50%; */
    
    background-color: #fff;
    transition: padding .2s 
ease-in-out;
    border-radius: 4px;
}
.resetemail{
  border: solid;
  width: 100%;
   margin: 2%;
  /* margin: 3% auto; */
  text-align: left;
  padding: 1%;
  border-radius: 8px;
  border-width: 0.1px;
}
 
.resetemail input{
  width: 100%;
  padding: 1%;
border: 0;
outline: none;


}
.resetbtn{
border: none;
  
   width: 100%;
   margin: 0 auto;
   border-radius: 8px;
  

}
.resetbtn button{
  color: white;
  border: none;
  width: 100%;
  padding: 2%;
   border-radius: 8px;
   background-color: #516CF0;
   margin: 5% 2%;
}
.resetbtn button:hover{
   transition: transform 1.5s ease;
    transform: scale(1.03);
  background-color: #FF8500;
}