 body{
   /* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
            url('bcg.jpg') center/cover no-repeat; */

 }
 
 .whole-co{
 

  display: flex;
  justify-content: space-between;
   
  width: 90%;
  margin: 0 auto;
   
   
   /* margin: 3%; */
  padding: 2% 0;
 
  
  /* height: ; */
  
}
.register-container{
 background-color: #FFFFFF;

  box-shadow: 0 0 8px 2px #ccc;
   
 
    margin: 5px 10px;
    padding: 45px;
    width: 50%;
    
    background-color: #fff;
    transition: padding .2s 
ease-in-out;
    border-radius: 4px;
   

 
  
}
.discription{
  width: 50%;
   
   
}
.register-container input{
  border: none;
  outline-width: 0;
  width: 90%;
 margin: 2% 0;
 padding: 1% 2%;
}

.input-cont{
  border: solid;
  border-width: 0.1px;
  border-radius: 8px;
  margin: 4% 0;
}
.last-first{display: flex;
justify-content: space-between;}

.L-name{
  border: solid;
  margin-left: 8%;
   border-width:  0.1px;
    border-radius: 8px;
  
   padding:2% 2% ;
    
}
 .F-name{
  border: solid;
   border-radius: 8px;
  border-width:  0.1px;
  
  padding:2% 2% ;
  
    
 }
 .F-name input{
  width: 100%;
 }
  
 .L-name input{
  width: 100%;
 }
  

  .flex{
    /* border: solid; */


   
    display: flex;
    margin: 2% 0;
     
  }

  .show{
    margin-left: 170px;
    padding: 4% 2%;
    
  }
  .password{
     padding: 2% 0;
  }
  .password input{
    width: 100%;
    
  }


  .internal-regi-container{
    text-align: center;
  }
  .already-container{
    padding: 3%;
  }
  .span-already{
    color: #FF8500;
  }
  .sign-in{
    text-decoration: none;
    padding-left: 5px;
  }
  .agree{
    text-align: center;
    margin: 3% 0;
  }
  .privacy{
    color: #FF8500;
    text-decoration: none;
    
  }
  .privacy:hover{
    text-decoration: underline;
  }
  .submit-btn{
    text-align: center;
  }
   .btn{
    background-color:   #516cf0;
    width: auto;
    padding: 3%  ;
    width: 100%;
    cursor: pointer;
 color: white;
    border-radius: 8px;
    border: none;
    font-size: 25px ;

   } 
   .btn:hover{
    background-color: #FF8500;
    transition: transform 1.5s ease;
    transform: scale(1.03);
    border: none;
 
     
   }
   #provid{
     
    
    color: #d93025;           /* Red tone for errors */
  background-color: #ffe6e6; /* Light red background */
  font-family: 'Poppins', sans-serif;  /* Clean modern font */
  font-size: 14px;           /* Comfortable small text */
  font-weight: 500;          /* Slightly bold  Space inside the box*/
  padding: 10px 15px;       
  border: 1px solid #d93025; /* Red border */
  border-radius: 6px;        /* Rounded corners */
  margin-top: 10px;          /* Space from other elements */
  display: inline-block;  
  width: 100%;
  
     
   }
   #provid:empty{
    display: none;
   }

    .haw-m1{
  color: white;
   background-color: #FF8500;;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 17px;
  margin-left: 10%;
  border-radius: 10px;
 }
 .haw-m:hover{
  background-color: orange;
 }

   @media (max-width: 900px) {
  .whole-co{
    display: block;
  }
 .register-container{
   margin: 0 0 5% 0 ;
    padding: 6%;
    width: 100%;
     
  }
  .discription{
    width: 100%;
  }
  .last-first{
    display: block;
  }
  .L-name{
    margin: 3% 0;
  }
}
