.classfor{
  
  width: 50%;
  margin: 0 auto;
  /* background-color: firebrick; */
   background-color: #FFFFFF;

  box-shadow: 0 0 8px 2px #ccc;
   
 
    
    padding: 7%;
    /* width: 50%; */
    
    background-color: #fff;
    transition: padding .2s 
ease-in-out;
    border-radius: 4px;
}
.resetemail{
  border: solid;
  width: 100%;
   margin: 2%;
  /* margin: 3% auto; */
  text-align: left;
  padding: 1%;
  border-radius: 8px;
  border-width: 0.1px;
}
 
.resetemail input{
  width: 100%;
  padding: 1%;
border: 0;
outline: none;
margin: 5px 0;


}
.resetbtn{
border: none;
  
   width: 100%;
   margin:15px auto;
   border-radius: 8px;
  

}
.resetbtn button{
  color: white;
  border: none;
  width: 100%;
  padding: 2%;
   border-radius: 8px;
   background-color: #516CF0;
   margin: 5% 2%;
}
.resetbtn button:hover{
   
 
}
 
.resetbtn button:focus{
  background-color: gray;
  cursor: wait;
  
}
.messageboth{
  color: dodgerblue;
  font-size: 23px;
  
}
 @media(max-width:800px){
  .classfor{
    /* width: 400px;
    margin-left:30px ;
    height: 450px;
    line-height: 50px;
     padding-left: 1px;
     margin-top: 400px;
      */
    
  }
  .classfor h2{
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 30px;
    
  }
 }